<html>
  <body>
    <h1>Resolved Tasks</h1>
    <em>{{ resolved_tasks_len }} resolved tasks (fetched in {{resolved_fetch_duration}})</em>
    <ul>
      {% for task in resolved_tasks %}
      <li>{{ task.id }}: {{ task.status }}</li>
      {% endfor %}
    </ul>
    <a href="/?cursor={{prev_url}}" style="visibility: {{prev_url_visibility}}">Prev</a>
    <a href="/?cursor={{next_url}}" style="visibility: {{next_url_visibility}}">Next</a>
    <hr/>

    <h1>Open Tasks</h1>
    <em>{{ open_tasks_len }} open tasks (fetched in {{open_fetch_duration}})</em>
    <ul>
      {% for task in open_tasks %}
      <li>{{ task.id }}: {{ task.status }}</li>
      {% endfor %}
    </ul>
    <hr/>
  </body>
</html>

<style>
  a {
    margin: 0 2em;
  }
</style>
